* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #66c2ff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

/* SPACER FOR SPACE */
.spacer {
    height: 250px;
}



/* NAVIGATION */
nav {
    position: fixed;
    z-index: 2;
    background: #66c2ff;
    width: 100vw;
}

.logo-text {
    font-weight: 800;
    font-size: 1.5rem;
    position: absolute;
    left: 5px;
    top: 5px;
    text-align: center;
    padding: 10px;
    background: gold;
    border-radius: 50%;
    cursor: pointer;
}

.navbar img {
    width: 30%;
}

.navbar li {
    list-style: none;
    padding: 0 30px;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}


.nav-link:hover {
    text-decoration: 4px gold underline;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: burlywood;
}


/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    
}

.hero-bio {
    line-height: 3rem;
}

.hero-header {
    font-weight: 800;
    font-size: 3rem;
}

.hero-text {
    font-size: 1.3rem;
}

.color-text {
    color: gold;
}

.heroWrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    gap: 150px;
}

.hero-img img {
    z-index: 1;
    background: gold;
    border-radius: 47%;
    padding: 5px;
    width: 80%;
}

.resume-btn {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    
}

.hero-bio button:hover {
    transform:rotate(5deg);
    color: gold;
    
}

/* ABOUT SECTION */
.about-section {
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.about-section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-header-text {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    text-decoration: 5px gold overline;
    text-transform: uppercase;

}

.about-text {
    font-size: 1.5rem;
    padding: 10px;
    line-height: 2.5rem;
}

.languages-header {
    display: flex;
    padding: 30px;
}

.languages  {
    display: flex;
    
}

.languages img {
    width: 25%;
}

.language-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.language-name {
    text-transform: uppercase;
}
/* PROJECTS SECTION */
.project-section {
    min-height: 100vh;
    background: white;

}

.project-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 20px;
}

.project-section-header {
    font-size: 2rem;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: 5px gold overline;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.project-section-header img {
    width: 20%;
    background: gold;
    border-radius: 49%;
}

#feature-two-wrapper,
#feature-four-wrapper {
    border-left: 5px solid gold;
}

#feature-one-wrapper,
#feature-three-wrapper {
    border-right: 5px solid skyblue;
}

.feature-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

.feature-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.feature-gif {
    width: 100%;
    filter: grayscale(95%);
    transition: 0.3s ease;
    border-radius: 5px;

}

.feature-gif:hover {
    filter: grayscale(0);
}

.feature-title {
    font-family: "Quicksand";
    font-weight: 800;
    font-size: 1.3rem;
    color: gold;
}

.feature-info {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    font-size: 1.2rem;
    line-height: 1.9rem;
}

.feature-language-img {
    width: 10%;
}

.feature-languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
    font-weight: 800;
}

.feature-language-group {
    display: flex;
    align-items: center;
}

.feature-buttons {
    display: flex;
    justify-content: space-around;
}

.feature-buttons button {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: gold;
    text-transform: uppercase;
    font-family: 'Quicksand';
    cursor: pointer;
}

.feature-buttons button:hover {
    transform: rotate(-5deg);
}

#feature-two-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

#feature-three-wrapper {
    display: flex;
}

#feature-four-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

/* CONTACT SECTION */

.contactHeader {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.formWrapper {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    transform: translateY(100px);
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input:focus {
    border: 5px solid gold;
}

textarea:focus {
    border: 5px solid gold;
}

.nameField, .emailField {
    width: 350px;
    padding: 10px;
    font-size: 16px;
}

.messageBox {
    height: 200px;
    width: 350px;
    text-align: justify;
    padding: 10px;
    font-size: 16px;
}

.messageBox::placeholder {
    text-align: top;
}

.submitBtn {
    width: 100px;
    height: 50px;
    align-self: center;
    background: white;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    color: black ;
}

.submitBtn:hover {
    background: gold;
}

.formWrapper {
    transform: translateY(20px);
    text-transform: uppercase;
}

.contact-section {
    height: 100vh;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    
}

.contact-section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact-header-text {
    font-size: 3rem;
    text-decoration: 5px solid gold overline;
}

.contact-section-header img {
    width: 20%;
    background-color: gold;
    border-radius: 49%;
}

/* SOCIALS */
.socials {
    transform: translateY(30px);
}

.socialLinks {
    display: flex;
    justify-content: space-around;
}

svg {
    font-size: 50px;
    color: white;
}

svg:hover {
    color: gold;
}


/* footer */
footer {
    text-align: center;
    padding: 20px;

}



/* MEDIA QUERIES */
@media screen and (max-width: 1280px) {
    .feature-gif {
       
        filter: grayscale(0%);
        
    
    }
}


@media screen and (max-width: 870px){
   /* navigation */
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;

    }   /* end navigation */
    

    /* HERO SECTION */
    .hero {
        font-size: 0.5rem;
        align-items: flex-start;
        display: flex;
       
    }
    
    .heroWrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .hero-img img {
        width: 70%;
        display: flex;
    } 

}
@media screen and (max-width: 754px) {
    .formWrapper {
       display: flex;
       flex-direction: column;   
       justify-content: center;
       align-items: center; 
    }
}




 
 @media screen and (max-width: 672px){
    .languages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
        
    }
}

@media screen and (max-width: 651px){
   .feature-wrapper, 
   #feature-four-wrapper,
   #feature-two-wrapper {
    display: flex;
    align-items: center;
   }

  .feature-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feature-buttons {
    gap: 20px;
  }
}



@media screen and (max-width: 500px){
    .languages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        
    }
}


@media screen and (max-width: 485px){
    .feature-wrapper, 
    #feature-four-wrapper,
    #feature-two-wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
    }

    .feature-info {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        line-height: 1.9rem;
        max-width: none;
    }
}

@media screen and (max-width: 414px){
    .languages {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        justify-content: center;
        
    }
} 
